@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.container {
    width: 90vw;
    margin-top: 23px;
    font-size: 14px;
}