.pagination {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    width: 90%;
    color: #474955;
}

.pagination__nav-button {
    cursor: pointer;
    font-weight: 500;
    font-size: 1.3rem;
}

.pagination__page-buttons-container {
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    font-size:  1rem;
}

.pagination__page-button {
    padding: 0.5rem;
    cursor: pointer;
}

.page-active {
    color: #7EBC3C;
}