.posts {
    display: grid;
    color: #FFF;
    grid-template-columns: 0.7fr 3fr 4fr;
    font-size: 1em;
    
}

.posts__header {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: #FFF;
    border: none;
    background: #474955;
    padding: 19px 0 16px 0;
}

.sort-button {
    cursor: pointer;
    background: none;
    border: none;
}

.posts__item {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #474955;
    border: solid #E3E6EC 1px;
    padding: 1rem;
    vertical-align: middle;
}

.posts__item-id {
    justify-content: center;
}
